<a href="https://colab.research.google.com/github/Avinash-099/python-programs-/blob/main/lists%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

fruit names

In [ ]:
# writing lists
## to print the intial value 
fruit=["mango","apple","strawberry",'orange','melon']
print(fruit[0])
print(fruit[-1])
print(fruit[0:4:2])
print(fruit[2:4])
print(fruit[:3])
print(fruit[3:])
print(fruit[0:-2])

mango
melon
['mango', 'strawberry']
['strawberry', 'orange']
['mango', 'apple', 'strawberry']
['orange', 'melon']
['mango', 'apple', 'strawberry']

In [1]:
a,b,c,d= 1,2,3,4
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [4]:
#insert,append,remove,pop
list=['number1','number2','number3','number4','number5']
print(list)
list.append('number6')
print(list)
list.insert(0,'number0')
print(list)
list.remove('number0')
print(list)
#list.pop(0)
#print(list)
list.pop()
print(list)

['number1', 'number2', 'number3', 'number4', 'number5']
['number1', 'number2', 'number3', 'number4', 'number5', 'number6']
['number0', 'number1', 'number2', 'number3', 'number4', 'number5', 'number6']
['number1', 'number2', 'number3', 'number4', 'number5', 'number6']
['number1', 'number2', 'number3', 'number4', 'number5']

In [5]:
# delete
list=['number1','number2','number3','number4','number5']
print(list)
del list[0]
print(list)
del list
print(list)

In [ ]:
#clear
list=['number1','number2','number3','number4','number5']
print(list)
list.clear()
print(list)